/*
  Josh Comeau Custom CSS Reset (slightly changed)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Fonts */

@font-face {
  font-family: "norsebold";
  src: url("../sign-up-form/Assets/Norse-Bold.otf") format("woff2");
}

/* Stack from https://modernfontstacks.com/ */

body {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

/* Styling */

.main-container {
  display: flex;
}

/* Sidebar */

.image-sidebar {
  height: 100vh;
  position: relative;
  flex: initial;
}

.image-sidebar img {
  height: 100%;
}

.logo-container {
  position: absolute;
  width: 100%;
  top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 50%);
}

.odin-logo {
  max-width: 6rem;
}

.odin-heading {
  font-family: norsebold;
  color: white;
  font-size: 6rem;
}

.image-credit {
  position: absolute;
  bottom: 1rem;
  color: white;
  width: 100%;
  text-align: center;
}

.image-credit a, .image-credit a:visited {
  color: white;
}

/* Info */

.info-section {
  flex: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  max-width: 65%;
  background-color: #FAFAFF;
}

.info-section p {
  padding: 0 0 0 4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  align-self: flex-start;
}

.italicised {
  font-style: italic;
}

/* Form */

.sign-up-form {
  padding: 0 0 0 4rem;
  max-width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
}

.sign-up-form h2 {
  margin-bottom: 1rem;
}

.form-input-container {
  display: flex;
  flex-wrap: wrap;
}

.form-inputs {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.form-inputs input {
  border: 1px solid #E5E7EB;
  padding: 0.2rem 0.4rem;
}

.form-inputs input:focus {
  outline-color: rgb(79, 164, 243);
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.form-inputs input:invalid {
  outline-color: red;
}

/* Password Length Prompt */
.form-inputs input[type=password]:invalid:focus + .password-after::after {
  content: "Passwords must be 8 characters at least";
  color: red;
  font-size: 0.8rem;
}

/* Email Prompt */
.form-inputs input[type=email]:invalid:focus + .email-after::after {
  content: "This is not a valid email";
  color: red;
  font-size: 0.8rem;
}

/* Telephone Prompt */
.form-inputs input[type=tel]:invalid:focus + .telephone-after::after {
  content: "This is not a valid telephone number";
  color: red;
  font-size: 0.8rem;
}

/* Name Prompt */
.form-inputs input[type=text]:invalid:focus + .name-after::after {
  content: "This is not a valid name";
  color: red;
  font-size: 0.8rem;
}

/* Visual indicator for valid input */
.form-inputs input:valid {
  color: #596D48;
}

label::after {
  content: "required";
  color: white;
  font-size: 0.8rem;
  background-color: #596D48;
  border-radius: 0.2rem;
  padding: 0.1rem 0.4rem; 
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1rem;
}

button[type=submit] {
  padding: 0.5rem 2rem;
  background-color: #596D48;
  color: white;
  border: 1px solid;
  border-radius: 0.5rem;
  margin: 2rem;
  align-self: flex-start;
  cursor: pointer;
}