/*
  Josh Comeau Custom CSS Reset (slightly changed)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Fonts */

@font-face {
  font-family: "norsebold";
  src: url("../sign-up-form/Assets/Norse-Bold.otf") format("woff2");
}

/* Stack from https://modernfontstacks.com/ */

body {
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

/* Styling */

.main-container {
  display: flex;
}

.image-sidebar {
  position: relative;
  flex: initial;
}

.image-sidebar img {
  max-height: 100vh;
}

.logo-container {
  position: absolute;
  width: 100%;
  top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 50%);
}

.odin-logo {
  max-width: 6rem;
}

.odin-heading {
  font-family: norsebold;
  color: white;
  font-size: 6rem;
}

.info-section {
  flex: auto;
}